*{
    text-decoration: none;
    margin: 0;
    padding: 0;
    list-style: none;
    outline: none;
    box-sizing: border-box;
    
}
.header
{
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 15px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding-top: 0.3rem;
    width: 100%;
 
   /*  background-color: rgb(253, 220, 231); */
}

.header .first-row
{
    display: flex;
    grid-template-columns: (4,1fr);
    justify-content: space-around;
    font-size: 12px;
    position: sticky;
}
.header .first-row .column
{
    display: flex;
    justify-content: center;
   
}
.header .first-row .column img
{
    margin-right: 1rem;
    width: 2.5vw;
    height: 3vh;
    
}
.header .first-row .column .media
{
    margin-top: 0.5rem;
    align-items: center;    
}


.header .second-row
{
    display: flex;
    flex-direction: column;
    overflow: hidden;
}
.header .second-row .nav-bar
{
    display: flex;
    grid-template-columns: (2,1fr);
    justify-content: space-between;
    padding: 3rem; 
    margin-top: -17rem;
}
.header .second-row .nav-bar .nav-left
{
    display: flex;
    justify-content: space-between;  
    font-size: 2rem;
}
.header .second-row .nav-bar .nav-left img
{
    height: 4vh;
    width: 3vw;
    margin-left:0.5rem;
    
}
.header .second-row .nav-bar .nav-left p
{
    margin-top: 0.27rem;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
.header .second-row .nav-bar .nav-right
{
    display: flex;
    justify-content:space-between;
}
.header .second-row .nav-bar .nav-right nav
{
    margin-right: 1rem;
    display: flex;
    justify-content: space-between;
}
.header .second-row .nav-bar .nav-right nav a
{
    padding-left: 0.8rem;
    padding-right: 0.8rem;
    color: rgb(145, 145, 145);
    text-align: center;
}
.header .second-row .nav-bar .nav-right nav a:hover
{
    border: 0.5px solid rgb(211, 1, 1);
    border-radius: 2rem;
    font-weight: 900;
    text-align: center;
}
.header .second-row .nav-bar .nav-right .search-bar
{
    border: 0.5px solid rgb(211, 1, 1);
    
    height: 3.5vh;
    display: flex;
    border-radius: 4px;
}
.header .second-row .nav-bar .nav-right .search-bar input
{
    border-radius: 1px;
    border: none;
    border-radius: 4px;
}
.header .second-row .nav-bar .nav-right .search-bar img
{
    border: 1px solid rgb(211, 1, 1);
    background-color:  rgb(211, 1, 1);
    padding-left: 5px;
}
.header .second-row .img-des
{
    display: flex;
    justify-content: center;
    animation-name: Manu;
    animation-duration: 7s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    overflow: hidden;
   
    margin-top: 0.3rem;
}
@keyframes Manu
{
    0%{
       
       margin-left: 0;
    }
    100%{
    
        margin-left: -100%;
    }
}
.header .second-row .img-des img
{
 width: 30rem;
 height: 15rem;

}
.header .second-row .text-des
{
    font-size: 30px;
    display: flex;
    flex-direction: column;
   /*  text-align: justify; */
    justify-content: space-between;
    align-items: center;
    width: 100%;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    
}

.header .second-row .text-des h3
{
    color: rgb(211, 1, 1);
}
.header .second-row .text-des p
{
    padding: 0.5rem;
    color: rgb(211, 1, 1);
    font-size: 15px;
    font-family: 'Times New Roman', Times, serif;
}

/* Main css */
.main
{
    width: 100%;
    display: flex;
    flex-direction: column;
  padding: 20vh 15vw;
   justify-content: space-around;
   align-content: center;
}

.main .first-block
{
    display: flex;
    grid-template-columns: (2,1fr);
}
.main .first-block .first-block-left
{
    width: 100%;
    display: flex;
    flex-direction: column;
    padding: 2rem;
    justify-content: space-around;
} 
.main .first-block .first-block-left ul{
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding-top: 1rem;
}
.main .first-block .first-block-left ul li
{
    background-color: rgb(211, 1, 1);
    padding: 0.65rem;
}
.main .first-block .first-block-left ul li a
{
    color: white;
}
.main .first-block .first-block-right
{
    width: 100%;
}
.main .first-block .first-block-right img
{
    width: 100%;
}
.main .second-block
{
    display: flex;
    margin-top: 6rem;
    padding: 2rem;
    align-items: center;

}
.main .second-block .categorie
{
    display:flex;
    flex-direction: column;
    justify-content: space-between;
    margin-right: 1rem;
    margin-left: 1rem;
    border: thick double rgb(211, 1, 1);
    padding: 1rem;
    height: 30vh;
    box-shadow: -0.5rem -1rem 1rem 1rem rgb(247, 230, 230);
}
.main .second-block .categorie img
{
    height: 8vh;
    width: 5vw;
    margin-top: -3rem;
    border: 3px solid white;
}

/* Main css */

/* Footer */
.footer
{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0.75rem;
    background-color: rgba(158, 9, 9);
    
}
.footer .reseau
{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 2rem;
}
.footer .reseau a
{
    margin-left: 2rem;
    margin-right: 2rem;
}
.footer .reseau a img
{
    height: 4vh;
}
.footer h3 a
{
    color: black;
    font-weight: 900;
}
/* Footer */
/* Media screen */
    @media (max-width:900px) 
    {
        .main{
            font-size: 14px;
        }
        .header .second-row .nav-bar .nav-right .search-bar {
            
            height: 2.5vh;
          
        }
        @keyframes Manu
        {
            0%{
       
                 margin-left: 0;
            }
            100%{
    
                margin-left: -0%;
            }
        }
        .header .second-row .text-des {
            font-size: 27px;
           margin-bottom: 20px;
        }
        .main 
        {
            display: flex;
         
                    
        }
        .main .first-block .first-block-right img {
            width: 100%;
            height: 100%;
        }

        .main .second-block 
        {
	        display: flex;
	        margin-top: 6rem;
	        padding: 2rem 0;
           justify-content: center;
            flex-wrap: wrap;
          
        }   
        .main .second-block .categorie 
        {         
            padding: 1rem;
            height: 25vh;
            width: 25vw;
            margin-bottom: 5rem;
            
        }
        .footer .reseau a img{
            height: 2.5vh;
        }
        
    }
    @media (max-width:477px) {
        .header .first-row .column {
            font-size: 8px;
            
        }
        @keyframes Manu
        {
            0%{
       
                 margin-left: 0%;
            }
            100%{
    
                margin-left: -420%;
            }
        }
        .main {
            display: flex;
            flex-direction: column;
            padding-top: 2vh;
           
            justify-content: space-around;
        }
        .main .first-block {
            display: flex;
            flex-direction: column;
            
        }
        .main .second-block {
            display: flex;
           flex-direction: column;
            padding: 3vh 0;
            justify-content: center;
            flex-wrap: wrap;
            margin: 3rem 0;
        }
        .main .second-block .categorie {
            
            
            margin-right: 0;
            margin-left: 0;
            width: 20vw;
            
        }
        .main .second-block .categorie img {
            height: 8vh;
            width: 14vw;
            margin-top: -3rem;
            border: 3px solid white;
        }
        .footer h3 
        {
            font-size: 15px;
        }
       
    }
    

    @media (max-width:600px) 
    {
        
        .main .second-block {
            display: flex;
            padding: 0;
            justify-content: space-between;
            flex-wrap: wrap;
        }
        .main .second-block .categorie {
            display: flex;
           width: 35vw;
            flex-wrap: wrap;
            justify-content: space-between;
            margin-bottom: 5rem;        
            
        }
        .footer .reseau a img {
            height: 3.25vh;
        }
        .main .second-block .categorie img {
          
            width: 10vw;
         
        }
        .footer .reseau a img {
            height: 2.75vh;
        }
    }
   
    
/*  */